body {
  background-color: #ffe6ef;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

  flex-wrap: wrap;
}

a {
  color: #ffe6ef;
  font-size: 1.3rem;
}

a:hover {
  color: rgb(248, 215, 139);
}

a:visited {
  color: rgb(139, 129, 162);
}

a:active {
  color: aquamarine;
}

header {
  background-color: #7a004b;
  margin-top: 0px;
  margin-left: 0px;
  border-bottom: 15px double #ffe6ef;
  flex-direction: column;
}

#titles {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  padding-right: 10px;
}

h1.main-h1 {
  margin-top: 0px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 0px;
  color: aliceblue;
  font-size: 2.5rem;
}

h2.main-h2 {
  color: aliceblue;
  font-weight: 500;
  margin: 0px;
}

/* from CSS grid generator (modified to fit project): https://cssgrid-generator.netlify.app/*/
#interests-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: min-content;
  padding: 20px 25px;
  gap: 3%;

  background-color: #7a004b;
  color: #ffe6ef;
  align-items: start;
}

.interest {
  display: flex;
  gap: 15px;
  text-align: left;
  word-break: break-word;
}

.interest .bullet-icon {
  font-size: 1.7rem;
  line-height: 1;
}

#iat355-tb {
  margin-top: 15px;
  padding: 15px;
}

#head-links {
  width: 100%;
  border-top: 5px solid #ffe6ef;
  padding: 15px;
  table-layout: fixed;
}

td {
  font-size: 0.9rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: top;
  text-align: center;
}

td .list-main {
  color: white;
}

#tagline {
  padding-top: 10px;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: right;
}

.list-main {
  color: whitesmoke;
  font-weight: 700;
}

#about-me {
  text-align: center;
}

#interest-section {
  display: flex;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #7a004b;
  color: #ffe6ef;
  justify-content: space-evenly;
}

#self-img {
  max-width: 350px;
  padding-left: 2.5%;
  border-top: 5px solid #7a004b;
  border-bottom: 5px solid #7a004b;
}

#img-cap {
  color: #7a004b;
  font-size: 0.95rem;
  justify-self: left;
  margin-top: 8px;
  padding-left: 2.5%;
}

.bullet-icon {
  color: #ffe6ef;
  font-size: 1.7rem;
  margin-top: 0px;
  padding-top: 0px;
}

#classwork {
  border-width: 15px 0px 15px 0px;
  border-style: double;
  border-color: #ffe6ef;

  background-color: #7a004b;
  margin: 10px 0px 20px 0px;
  padding: 15px;
}

#education {
  border-width: 15px 0px 15px 0px;
  border-style: double;
  border-color: #ffe6ef;

  background-color: #7a004b;
  margin: 10px 0px 20px 0px;
  padding: 15px;

  color: #ffe6ef;
}

#skills {
  border-width: 15px 0px 15px 0px;
  border-style: double;
  border-color: #ffe6ef;

  background-color: #7a004b;
  margin: 10px 0px 20px 0px;
  padding: 15px;

  color: #ffe6ef;
}

#experience {
  border-width: 15px 0px 15px 0px;
  border-style: double;
  border-color: #ffe6ef;

  background-color: #7a004b;
  margin: 10px 0px 20px 0px;
  padding: 15px;

  color: #ffe6ef;
}

.exp-grid {
  display: grid;
  grid-template-areas:
    "illustrations iat265"
    "iat167       iat235";
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: start;
  justify-items: center;
}

/* reference: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

@media (max-width: 900px) {
  .exp-grid {
    grid-template-areas:
      "illustrations"
      "iat265"
      "iat167"
      "iat235";

    grid-template-columns: 1fr;
  }
}

.illustrations {
  grid-area: illustrations;
  justify-items: center;
  text-align: center;
}

#gallery {
  display: flex;
  gap: 15px;
}

.iat265 {
  grid-area: iat265;
}

.iat167 {
  grid-area: iat167;
}

.iat235 {
  grid-area: iat235;
}

.work-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grid-header {
  font-weight: 400;
  text-decoration: underline;
  padding: 15px;
}

.illus-ex {
  width: clamp(200px, 17vw, 500px);
  height: auto;
}

.emote-ex {
  width: clamp(80px, 11vw, 200px);
  height: auto;
}

.gif {
  width: clamp(360px, 30vw, 600px);
  height: auto;
}

#contact {
  border-width: 15px 0px 15px 0px;
  border-style: double;
  border-color: #ffe6ef;

  background-color: #7a004b;
  margin: 10px 0px 20px 0px;
  padding: 15px;

  color: #ffe6ef;
}

h1.vispage-h1 {
  color: black;
  margin: 20px;
  font-size: 2.7rem;
  font-weight: 800;
}

h2.vispage-h2 {
  color: black;
  margin: 40px;
  text-align: center;
  text-decoration: underline;
}

.svg-caption {
  background-color: #1b1a1b;
  color: aliceblue;
  border: #ffe6ef double 7px;
  margin: 20px;
  padding: 20px;
  font-weight: 400;
}

svg.lec1-svg {
  max-width: 420px;
  height: auto;
}

#a2-visualizations {
  margin: 50px;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: flex-start;
}

#lec1-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  text-align: center;
}

#lec1-svg {
  width: 100%;
  max-width: 420px;
  height: auto;
}

#art-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  text-align: center;
}

#svg-art {
  width: 100%;
  max-width: 480px;
  height: auto;
}
