body {
  background-color: #ffe6ef;
  margin: 0px;
  overflow-x: hidden;
}

header {
  background-color: #7a004b;
  padding: 10px;
  border-bottom: 10px #ffe6ef double;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

h2.vis-title {
  text-align: center;
  background-color: #7a004b;
  padding: 1%;
  border: 10px #ffe6ef double;
  color: #ffe6ef;
}

h3 {
  text-align: center;
}

.container {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.view-sbs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

#view,
#view2,
#view3,
#view4,
#view5,
#view6 {
  width: 100%;
  height: auto;
  max-width: 1000px;
}
